button {
    width: 100%;
    max-width: 100px;
    height: 28px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #747373;
    transition: 0.5s ease-in-out;
    color: #FFFFFF;
    font-weight: 700;
}