.movie_list {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 10px;
}

.card_modal {
    inset: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgba(75, 74, 74, 0.87);
}


@media screen and (max-width: 700px) {
    .movie_list {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 500px) {
    .movie_list {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}